@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%; }

body {
  background-color: #fafafa; }

.wrapper {
  width: 90%;
  max-width: 1350px;
  display: flex;
  margin: 0% auto; }

img {
  height: 100%;
  width: 100%;
  vertical-align: bottom; }

@media only screen and (min-width: 768px) {
  .mobile-svg {
    display: none; } }

.desktop-svg {
  display: none; }
  @media only screen and (min-width: 996px) {
    .desktop-svg {
      display: block; } }

html {
  font-size: 62.5%; }

body {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 400; }

h1 {
  font-size: 3.6rem;
  text-transform: capitalize;
  line-height: 1.6;
  margin-bottom: 2.5rem; }

h2 {
  font-size: 3rem;
  text-transform: capitalize;
  line-height: 1.6; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.8rem;
  color: #837d87;
  margin-bottom: 1.6rem;
  text-transform: uppercase; }

h6 {
  font-size: 1.6rem; }

h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #837d87;
  margin-bottom: 3.5rem; }

.logo {
  color: #2b272f;
  display: block;
  font-family: "Karla", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase; }

.hero--heading {
  font-size: 5.2rem;
  line-height: 1.2;
  margin-bottom: 5rem;
  position: relative;
  z-index: 3; }

.hero p {
  line-height: 1.6;
  margin-bottom: 7.5rem; }

.how-we-work h2 {
  margin-bottom: 5rem; }

.fa-facebook-square,
.fa-twitter,
.fa-pinterest,
.fa-instagram {
  color: #837d87;
  display: block;
  font-size: 2.4rem;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1); }
  .fa-facebook-square:active, .fa-facebook-square:hover,
  .fa-twitter:active,
  .fa-twitter:hover,
  .fa-pinterest:active,
  .fa-pinterest:hover,
  .fa-instagram:active,
  .fa-instagram:hover {
    color: #2b272f; }

.footer--link {
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1); }
  .footer--link:active, .footer--link:hover {
    text-decoration: underline; }

.cta {
  color: #fafafa;
  display: inline-block;
  border: 2px solid #fafafa;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .cta:hover, .cta:active {
    background-color: #fafafa;
    color: #2b272f; }
  .cta-second {
    border: 2px solid #fafafa;
    padding: 1.6rem 3.2rem;
    margin: 5rem auto 0rem auto;
    width: 90%;
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1); }
    @media only screen and (min-width: 768px) {
      .cta-second {
        width: auto;
        margin: 0rem;
        border: 2px solid #2b272f; } }
    .cta-second:active, .cta-second:hover {
      background-color: #fafafa; }
      @media only screen and (min-width: 768px) {
        .cta-second:active, .cta-second:hover {
          background-color: #2b272f;
          color: #fafafa !important; } }

.footer {
  width: 100%;
  position: relative; }
  .footer .mobile-svg {
    width: 100%;
    height: auto; }
  .footer .wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
  .footer--top {
    border-bottom: 2px solid #837d87;
    width: 100%; }
    .footer--top .wrapper {
      width: 100%;
      height: auto;
      padding: 6rem 0rem;
      margin-bottom: 5rem; }
      @media only screen and (min-width: 768px) {
        .footer--top .wrapper {
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          padding: 3.5rem 0rem; } }
    .footer--top ul {
      margin-top: 2.5rem;
      list-style: none;
      display: flex;
      position: relative;
      z-index: 3; }
    .footer--top li:not(:last-child) {
      margin-right: 2.4rem; }
  .footer--bottom {
    padding: 5rem 0rem;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .footer--bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-start; } }
    .footer--bottom__item {
      text-align: center; }
      .footer--bottom__item:not(:last-child) {
        margin-bottom: 5rem; }
      .footer--bottom__item ul {
        list-style: none; }
      .footer--bottom__item li:not(:last-child) {
        margin-bottom: 1.4rem; }
      .footer--bottom__item a {
        color: #2b272f;
        display: block;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none; }

.grid {
  display: grid;
  width: 100%; }

.hero .grid {
  grid-template-columns: 1fr; }
  @media only screen and (min-width: 996px) {
    .hero .grid {
      grid-template-columns: repeat(2, 1fr); } }
  .hero .grid__item--1 {
    background-image: url(../../images/image-intro-mobile.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /*& img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }*/ }
    @media only screen and (min-width: 768px) {
      .hero .grid__item--1 {
        background-image: url(../../images/image-intro-desktop.jpg);
        background-attachment: scroll; } }
  .hero .grid__item--2 {
    background-color: #2d2640;
    color: #fafafa;
    position: relative;
    align-self: center; }
    .hero .grid__item--2 .wrapper {
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 10rem 0rem; }

.about .grid {
  margin-top: 5rem;
  grid-template-columns: 1fr; }
  @media only screen and (min-width: 996px) {
    .about .grid {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 7.5rem; } }
  .about .grid__item {
    text-align: center; }
    @media only screen and (min-width: 996px) {
      .about .grid__item {
        text-align: start; } }
    .about .grid__item:not(:last-child) {
      margin-bottom: 5rem; }
    .about .grid__item svg {
      margin-bottom: 2.5rem; }
    .about .grid__item h2 {
      margin-bottom: 2.5rem; }

.header {
  background-color: #fafafa;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 55;
  padding: 2.5rem 0rem;
  width: 100%;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.25); }
  .header .wrapper {
    justify-content: space-between;
    align-items: center; }
    @media only screen and (min-width: 768px) {
      .header .wrapper {
        justify-content: space-between;
        align-items: center; } }
  .header .menu {
    height: 5rem;
    width: 5rem;
    border: 2px solid #2b272f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; }
    @media only screen and (min-width: 768px) {
      .header .menu {
        display: none; } }
    .header .menu__line {
      width: 90%;
      height: 2px;
      background-color: #2b272f; }

.nav {
  display: none;
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  z-index: 5;
  padding-top: 7.5rem;
  background-color: #2b272f;
  justify-content: center;
  margin-top: 100px; }
  @media only screen and (min-width: 768px) {
    .nav {
      display: flex;
      position: relative;
      padding-top: 0rem;
      margin-top: 0px;
      background-color: transparent; }
      .nav svg {
        display: none; } }
  .nav ul {
    list-style: none;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .nav ul {
        width: auto;
        display: flex;
        align-items: center; } }
  .nav li:not(:last-child) {
    margin-bottom: 2.4rem; }
    @media only screen and (min-width: 768px) {
      .nav li:not(:last-child) {
        margin-bottom: 0rem;
        margin-right: 2.5rem; } }
  .nav a {
    color: #fafafa;
    display: block;
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1); }
    @media only screen and (min-width: 768px) {
      .nav a {
        color: #837d87;
        font-size: 1.6rem; } }
    .nav a:active, .nav a:hover {
      color: #837d87; }
      @media only screen and (min-width: 768px) {
        .nav a:active, .nav a:hover {
          color: #2b272f; } }
  @media only screen and (min-width: 996px) {
    .nav {
      display: flex; } }

main {
  padding-bottom: 10rem; }

.hero {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  background-color: #2d2640;
  color: #fafafa;
  position: relative; }
  .hero .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%; }
    @media only screen and (min-width: 996px) {
      .hero .wrapper {
        align-items: center;
        flex-direction: row;
        width: 90%;
        margin-top: 0; } }
  .hero__img {
    height: 100%;
    width: 100%; }
    @media only screen and (min-width: 996px) {
      .hero__img {
        order: 2;
        height: 100vh;
        width: 50vw;
        position: relative; }
        .hero__img picture {
          position: absolute;
          top: 20rem;
          height: 100%;
          width: 100%; } }
  .hero__text {
    padding: 7.5rem 0rem;
    height: 100%;
    position: relative; }
    @media only screen and (min-width: 996px) {
      .hero__text {
        order: 1;
        margin-right: 5rem;
        width: 50vw;
        height: auto;
        padding: 0rem;
        display: flex;
        justify-content: center;
        align-items: center; } }
    .hero__text__inner {
      width: 90%;
      margin: 0 auto;
      text-align: center; }
      @media only screen and (min-width: 996px) {
        .hero__text__inner {
          width: 100%;
          text-align: start; } }

.about {
  padding: 10rem 0rem; }
  .about h1 {
    position: relative; }
    .about h1::before {
      content: '';
      position: absolute;
      top: -10%;
      left: 0%;
      height: 2px;
      width: 35%;
      background-color: #2b272f; }
  @media only screen and (min-width: 996px) {
    .about {
      margin-top: 30rem; } }
  .about .wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
    @media only screen and (min-width: 996px) {
      .about .wrapper {
        align-items: flex-start; } }
  .about h1 {
    line-height: 2; }

.how-we-work {
  background-color: #2d2640;
  color: #fafafa;
  padding: 10rem 0rem;
  width: 90%;
  margin: 0% auto;
  text-align: center;
  position: relative;
  overflow: hidden; }
  @media only screen and (min-width: 768px) {
    .how-we-work {
      text-align: start; }
      .how-we-work .cta {
        position: relative;
        z-index: 2; } }
  .how-we-work .wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
    @media only screen and (min-width: 768px) {
      .how-we-work .wrapper {
        flex-direction: row; } }
  .how-we-work h2 {
    z-index: 2; }
    @media only screen and (min-width: 768px) {
      .how-we-work h2 {
        font-size: 5.2rem; } }
