@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%; }

body {
  background-color: #fafafa; }

.wrapper {
  width: 90%;
  max-width: 1350px;
  display: flex;
  margin: 0% auto; }

img {
  height: 100%;
  width: 100%;
  vertical-align: bottom; }

html {
  font-size: 62.5%; }

body {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 400; }

h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #837d87;
  margin-bottom: 3.5rem; }

.logo {
  color: #2b272f;
  display: block;
  font-family: "Karla", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase; }

.hero--heading {
  font-size: 5.2rem;
  line-height: 1.2;
  margin-bottom: 5rem;
  position: relative;
  z-index: 3; }

.hero p {
  line-height: 1.6;
  margin-bottom: 7.5rem; }

.cta {
  color: #fafafa;
  display: inline-block;
  border: 2px solid #fafafa;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .cta:hover {
    background-color: #fafafa;
    color: #2b272f; }

.footer {
  padding: 10rem 0rem; }
  .footer .wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
  .footer--top {
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 5rem;
    border-bottom: 2px solid #837d87;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
    .footer--top .logo {
      position: relative;
      z-index: 3; }
    .footer--top ul {
      margin-top: 2.5rem;
      list-style: none;
      display: flex;
      position: relative;
      z-index: 3; }
    .footer--top li:not(:last-child) {
      margin-right: 2.4rem; }
  .footer--bottom {
    padding: 5rem 0rem; }
    .footer--bottom__item {
      text-align: center; }
      .footer--bottom__item:not(:last-child) {
        margin-bottom: 5rem; }
      .footer--bottom__item ul {
        list-style: none; }
      .footer--bottom__item li:not(:last-child) {
        margin-bottom: 1.4rem; }
      .footer--bottom__item a {
        color: #2b272f;
        display: block;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none; }

.grid {
  display: grid;
  width: 100%; }

.hero .grid {
  grid-template-columns: 1fr;
  height: 200%; }
  .hero .grid__item {
    height: auto;
    width: 100%; }
    .hero .grid__item--1 img {
      width: 100%;
      height: auto;
      object-fit: cover; }
    .hero .grid__item--2 {
      background-color: #2d2640;
      color: #fafafa;
      position: relative; }
      .hero .grid__item--2 .wrapper {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 10rem 0rem; }

.about .grid {
  margin-top: 5rem;
  grid-template-columns: 1fr; }
  .about .grid__item {
    text-align: center; }
    .about .grid__item:not(:last-child) {
      margin-bottom: 5rem; }
    .about .grid__item svg {
      margin-bottom: 2.5rem; }
    .about .grid__item h2 {
      margin-bottom: 2.5rem; }

.header {
  background-color: #fafafa;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 5;
  padding: 2.5rem 0rem;
  width: 100%; }
  .header .wrapper {
    justify-content: space-between;
    align-items: center; }
  .header .menu {
    height: 5rem;
    width: 5rem;
    border: 2px solid #2b272f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; }
    .header .menu__line {
      width: 90%;
      height: 2px;
      background-color: #2b272f; }

.nav {
  display: none; }

main {
  padding-bottom: 10rem; }

.hero {
  height: auto;
  width: 100%;
  text-align: center; }

.about {
  padding: 10rem 0rem; }
  .about .wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden; }
    .about .wrapper::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 10rem;
      background-color: #837d87; }
  .about h1 {
    line-height: 2; }

.how-we-work {
  background-color: #2d2640;
  color: #fafafa;
  padding: 10rem 0rem;
  width: 90%;
  margin: 0% auto;
  text-align: center;
  position: relative;
  overflow: hidden; }
  .how-we-work .wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
  .how-we-work h2 {
    z-index: 2; }
