//Colors
$dark-violet: #2d2640;
$grayish-blue: #95a9c6;
$very-dark-violet: #2b272f;
$dark-grayish-violet: #837d87;
$very-light-gray: #fafafa;

//Fonts
$font-primary: 'Karla', sans-serif;
$font-secondary: 'DM Serif Display', serif;

//Paddings
$padding-small: 2.5rem 0rem;
