@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

html {
    font-size: 62.5%
}

body {
    font-family: $font-primary;
    font-size: 1.6rem
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-secondary;
    font-weight: 400;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $dark-grayish-violet;
    margin-bottom: 3.5rem;
}

.logo {
    color: $very-dark-violet;
    display: block;
    font-family: $font-primary;
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.hero {
    &--heading {
        font-size: 5.2rem;
        line-height: 1.2;
        margin-bottom: 5rem;
        position: relative;
        z-index: 3;
    }

    & p {
        line-height: 1.6;
        margin-bottom: 7.5rem;
    }
}