main {
    padding-bottom: 10rem;
}

.hero {
    height: auto;
    width: 100%;
    text-align: center;
}

.about {
    padding: $padding-large;

    & .wrapper {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 10rem;
            background-color: $dark-grayish-violet;
        }
    }

    & h1 {
        line-height: 2;
    }
}

.how-we-work {
    background-color: $dark-violet;
    color: $very-light-gray;
    padding: $padding-large;
    width: 90%;
    margin: 0% auto;
    text-align: center;
    position: relative;
    overflow: hidden;

    & .wrapper {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    & h2 {
        z-index: 2;
    }
}