main {
    padding-bottom: 10rem;
}

.hero {
    margin-top: 69px;
    width: 100%;
    height: 100%;
    background-color: $dark-violet;
    color: $very-light-gray;
    position: relative;
    
    & .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;

        @media only screen and(min-width: $large-device) {
            align-items: center;
            flex-direction: row;
            width: 90%;
            margin-top: 0;
        }
    }

    &__img {
        height: 100%;
        width: 100%;

        @media only screen and(min-width: $large-device) {
            order: 2;
            height: 100vh;
            width: 50vw;
            position: relative;
            

            & picture {
                position: absolute;
                top: 10rem;
                height: auto;
                width: 100%;
                object-fit: cover;
                box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
            }
        }
    }

    &__text {
        padding: 7.5rem 0rem;
        height: 100%;
        position: relative;

        @media only screen and(min-width: $large-device) {
            order: 1;
            margin-right: 5rem;
            width: 50vw;
            height: auto;
            padding: 0rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__inner {
            width: 90%;
            margin: 0 auto;
            text-align: center;
            

            & h1 {
                @media only screen and(min-width: $large-device) {
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        top: -10%;
                        left: 0%;
                        height: 3px;
                        width: 15%;
                        background-color: $very-light-gray;
                    }
            }

            
    }
            @media only screen and(min-width: $large-device) {
                width: 100%;
                text-align: start;
            }
        }
    }
}

.about {
    padding: $padding-large;

    & h1 {
        position: relative;

        @media only screen and(min-width: $large-device) {
            &::before {
                content: '';
                position: absolute;
                top: -10%;
                left: 0%;
                height: 2px;
                width: 35%;
                background-color: $very-dark-violet;
    
            }
        }
    }

    @media only screen and(min-width: $large-device){
        padding: 17.5rem 0rem 10rem 0rem;
    }

    

    & .wrapper {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        @media only screen and(min-width: $large-device){
            align-items: flex-start;
        }        

    }

    & h1 {
        line-height: 2;
    }
}

.how-we-work {
    background-color: $dark-violet;
    color: $very-light-gray;
    padding: $padding-large;
    width: 90%;
    margin: 0% auto;
    text-align: center;
    position: relative;
    overflow: hidden;

    @media only screen and(min-width: $medium-device) {
        text-align: start;

        & .cta {
            position: relative;
            z-index: 2;
        }
    }

    & .wrapper {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        @media only screen and(min-width: $medium-device) {
            flex-direction: row;
        }
    }

    & h2 {
        z-index: 2;

        @media only screen and(min-width: $medium-device) {
            font-size: 5.2rem;
        }
    }
}